.background {
    width: 100vw;
    height: 100vh;
    background-color: #F8F8F8;
}

.panel {
    width: 80%;
    max-width: 400px;
    min-width: 300px;
    background-color: white;
    padding: 30px 30px 15px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
}

.logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.logo img {
    border-radius: 20px;
}

.title {
    text-align: center;
    margin-bottom: 0.2em !important;
}

.subtitle {
    text-align: center;
    margin-bottom: 1em;
}

.divider {
    margin-top: 6px;
}