.content {
    margin: auto;
    padding: 30px;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .content {
        width: 90%;
    }
}

.heading .title {
    margin-right: 20px;
    margin-bottom: 0;
}

.heading .icon {
    font-size: 0.9em;
    margin-right: 0.4em;
}

.divider {
    margin-top: 1em;
    margin-bottom: 1.4em;
}