.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content + * {
    margin-top: 15px;
}

.formItem {
    margin-bottom: 10px;
}

.editButton {
    font-size: 1.5em;
    margin-right: 5px;
}